<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key ="baseurl" value="http://localhost:19200/HomeService"/>
    <add key ="endpoindurl_basic" value="http://127.0.0.1:1920/HomeService" />
    <add key ="endpoindurl_tcp" value="net.tcp://localhost:1920/HomeService" />
    <!--msmq方式不能有返回值，在mmc队列新建private/homequeue 并且服务注明是单向通信[OperationContract(IsOneWay = true)]-->
    <add key ="endpoindurl_msmq" value="net.msmq://localhost/private/homequeue" />


    <add key ="WebServiceBindingType" value="basic"/>
    <add key ="baseurl1" value="http://localhost:19210/UserInterface"/>
    <add key ="endpoindurl_basic1" value="http://127.0.0.1:1921/UserInterface" />

  </appSettings>
</configuration>