<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" name="viewport" content="text/html; charset=utf-8;width=device-width, initial-scale=1" />

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <style>
        div {
            
        }
        .div_btn {
            height:22%;
            border: 1px solid #c0c0c0;
        }
    </style>
</head>
<body>

    <div class="container">
        <div class="navbar-fixed-top btn-group">
            <div class="col-xs-3 div_btn"><<</div>
            <div class="col-xs-6 div_btn">标题4</div>
            <div class="col-xs-3 div_btn">分享</div>
        </div>
        <div class="container">
            @RenderBody()
        </div>
        <div class="navbar-fixed-bottom row" style="">
            <div class="col-xs-2 div_btn">首页</div>
            <div class="col-xs-3 div_btn">日行一善4</div>
            <div class="col-xs-2 div_btn">发表</div>
            <div class="col-xs-3 div_btn">三省吾身</div>
            <div class="col-xs-2 div_btn">我</div>
        </div>
    </div>
</body>
</html>
